<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Id: <%= banda.id %></h1>
  <p>Nombre: <%= banda.nombre %></p>
  <p>Integrantes: <%= banda.integrantes %></p>
  <p>Género: <a href="http://localhost:3000/genero/<%= banda.genero %>"><%= banda.genero %></a></p>
  <p>Top Canciones</p>
  <ul>
    <% banda.topCanciones.forEach(element => { %>
     <li><%= element %></li>
    <% }) %>
  </ul>
  <p>Video: <%= banda.video %></p>
  <img src="/<%= banda.cover %>" alt="" style="width: 200px">
  <p></p>
</body>
</html>